<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mist.it.pod_nk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".JobListActivity" />
        <activity android:name=".ManageJobActivity" />
        <activity android:name=".DateActivity" />
        <activity android:name=".DetailJobActivity" />
        <activity android:name=".SignatureActivity" />
        <activity android:name=".ReturnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           </activity>
        <meta-data android:name="io.fabric.ApiKey" android:value="cb5d4c3d49eea37d1668dc88f85df56d9d55bcce" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>